{{!-- <li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newlyDevoured="{{devoured}}">
		{{#if devoured}}Eaten!{{else}}EAT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li> --}}
